<div class="column gap-1">
  <!--Add product Button-->
  <button
    type="button"
    pButton
    label="Add Product"
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
  ></button>

  <!-- Products Section-->
  <div class="row wrap gap-1 space-between">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"
    ></app-product>
  </div>

  <!-- Pagination Section-->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>

<!-- Edit Popup Section-->
<app-edit-popup
  [product]="selectedProduct"
  [(display)]="displayEditPopup"
  (confirm)="onConfirmEdit($event)"
  header="Edit Product"
></app-edit-popup>

<!-- Add Popup Section-->
<app-edit-popup
  [(display)]="displayAddPopup"
  (confirm)="onConfirmAdd($event)"
  header="Add Product"
></app-edit-popup>
